@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap);
@font-face {
	font-family: SF-Pro-Rounded;
	src: url('../Assets/Fonts/Fonts/SF-Pro-Rounded-Semibold.otf');
}
@font-face {
	font-family: Aleyna;
	src: url('Assets/Fonts/Aleyna.woff');
}
html {
	overflow-x: hidden;
	font-size: 1rem;
}
body {
	background: 100% 100%;
	overflow: hidden;
}
html,
body {
	font-family: SF-Pro-Rounded;
}
/*Navbar*/
li.nav-item {
	margin: 0 15px;
}
li.nav-item a.nav-link {
	font-weight: bold;
}
li.nav-item a.nav-link:hover {
	font-size: large;
}
/*Home*/
.caption {
	color: #703eb2;
	margin-top: 50px;
}
.home {
	width: 100%;
	background: #fff;
}
.home .card {
	background-color: #703eb2;
	color: #fff;
	top: 50px;
	font-family: Aleyna;
	font-size: 3rem;
}
.home p {
	color: #703eb2;
	margin-top: 50px;
}
/*Objective*/
.objective h2 {
	color: #703eb2;
}
.objective ul {
	line-height: 2.5rem;
	list-style-type: circle;
}
.objective ul li {
	font-size: large;
}
/*Blogs*/
.blogs .card {
	background-color: #fff;
	color: #703eb2;
	box-shadow: 0px 0px 30px #cfccfa;
	top: 0;
}
.blogs h2 {
	color: #703eb2;
}
.blogs a {
	margin-top: 0;
	color: #703eb2;
}
.blogs a:hover {
	text-decoration: none;
	font-size: large;
}
/*Events*/
.events {
	margin-top: 100px;
}
.events h2 {
	color: #703eb2;
}
.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
/*Gallery*/
.gallery {
	margin-top: 200px;
}
.gallery h2 {
	color: #703eb2;
	margin-bottom: 5%;
}
.gallery .jumbotron {
	box-shadow: 0 0 8px #703eb2;
}
/*About Us*/
#About_Us .img-1 {
	margin-left: 40%;
}
/* Board */
.board .caption {
	margin-top: 200px;
}
.boardimg {
	border-radius: 15px;
	margin: 50px 0;
}

/*Contact Us*/
.contact .img-1 {
	margin: 10% 41%;
	width: 20%;
}
.input-textarea {
	min-height: 120px;
	width: 100%;
	padding: 0.625rem;
	resize: vertical;
}
.submit-button {
	display: block;
	width: 100%;
	padding: 0.75rem;
	background: #703eb2;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}
.contact .img-2 {
	margin: 15% 40%;
	width: 80%;
}
/*Footer*/
footer {
	width: 100%;
	height: 20vh;
	background-color: #f0efff;
	margin-top: 10%;
}
/*Responsive*/
@media (max-width: 576px) {
	html {
		font-size: 0.7rem;
	}
	.home p {
		margin-top: 5px;
	}
	li.nav-item a.nav-link {
		font-size: 1.5rem;
		text-align: center;
	}
	.navbar {
		min-height: 100px;
	}
	.navbar-nav > li > a {
		/* (80px - line-height of 27px) / 2 = 26.5px */
		padding-top: 26.5px;
		padding-bottom: 26.5px;
		line-height: 27px;
	}

	#About_Us .img-1 {
		margin-top: 50%;
		margin-left: 0;
		width: 150px;
	}
	#About_Us .img-2 {
		margin-top: 50%;
		margin-left: 0;
		width: 150px;
	}
	.board .caption h1 {
		margin-left: 37%;
	}
}
@media (max-width: 768px) {
	#About_Us .img-1 {
		margin-left: 0;
		margin-top: 20%;
	}
	.contact .img-2 {
		margin: 35% 20%;
	}
}
