@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap);
html
{
    overflow-x: hidden;
    font-size: 1rem;
}
html,body{
    font-family: 'Josefin Sans', sans-serif;
}
/*Navbar*/
li.nav-item
{
    margin: 0 15px;
}
li.nav-item a.nav-link
{
    font-weight: bold;
}
/*Home*/
.caption
{
    color: #703EB2;
    margin-top: 50px;
}
.home
{
    width: 100%;
    background:#fff;
}
.home .card
{
    background-color: #703EB2;
    color: #fff;
    top: 50px;
}
.home p
{
    color: #703EB2;
    margin-top: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Objective*/
.objective h2
{
    color: #703EB2;
}
.objective ul
{
    line-height: 2.5rem;
    list-style-type: circle;
}
.objective ul li
{
    font-size: large;
}
/*Blogs*/
.blogs .card
{
    background-color: #fff;
    color: #703EB2;
    box-shadow: 0px 0px 8px #703EB2;
    top: 0;
}
.blogs h2
{
    color: #703EB2;
}
.blogs p
{
    margin-top: 0;
}
/*Events*/
.events
{
    margin-top: 100px;
}
.events h2
{
    color: #703EB2;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    box-shadow: 0 0 8px #703EB2;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  /*Gallery*/
  .gallery
{
    margin-top: 200px;
}
.gallery h2
{
    color: #703EB2;
}
.gallery .card
{
    background: #777;
    height: 35vh;
    box-shadow: 0 0 8px #703EB2;
}